## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [2]:
# Import API key
from config import g_key

In [3]:

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Current Description
0,0,Jamestown,US,42.0970,-79.2353,82.04,50,0,9.22,2022-05-30 23:11:28,clear sky
1,1,Luderitz,NaN,-26.6481,15.1594,57.52,52,1,14.14,2022-05-30 23:16:15,clear sky
2,2,Avarua,CK,-21.2078,-159.7750,73.45,94,75,3.44,2022-05-30 23:16:01,light rain
3,3,Monrovia,LR,6.3005,-10.7969,80.15,83,69,9.26,2022-05-30 23:12:13,broken clouds
4,4,Launceston,AU,-41.4500,147.1667,43.81,97,100,4.61,2022-05-30 23:16:15,moderate rain
5,5,Fortuna,US,40.5982,-124.1573,60.10,67,75,17.27,2022-05-30 23:16:16,broken clouds
6,6,Baykit,RU,61.6700,96.3700,52.29,91,100,4.29,2022-05-30 23:08:02,light rain
7,7,Hermanus,ZA,-34.4187,19.2345,57.79,77,66,10.07,2022-05-30 23:16:16,broken clouds
8,8,Norman Wells,CA,65.2820,-126.8329,69.84,28,40,19.57,2022-05-30 23:16:16,scattered clouds
9,9,Ushuaia,AR,-54.8000,-68.3000,42.46,81,75,28.77,2022-05-30 23:14:17,drizzle

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Current Description
0,0,Jamestown,US,42.0970,-79.2353,82.04,50,0,9.22,2022-05-30 23:11:28,clear sky
3,3,Monrovia,LR,6.3005,-10.7969,80.15,83,69,9.26,2022-05-30 23:12:13,broken clouds
10,10,Bella Vista,US,36.4295,-94.2316,84.72,61,100,13.80,2022-05-30 23:16:17,overcast clouds
16,16,Hilo,US,19.7297,-155.0900,88.29,69,0,11.50,2022-05-30 23:16:19,clear sky
21,21,Albany,US,42.6001,-73.9662,84.63,57,70,5.35,2022-05-30 23:13:10,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
662,662,Bambanglipuro,ID,-7.9500,110.2833,76.96,85,64,2.39,2022-05-30 23:33:22,broken clouds
666,666,College,US,64.8569,-147.8028,77.00,28,20,9.22,2022-05-30 23:33:24,few clouds
671,671,Kieta,PG,-6.2167,155.6333,84.27,67,57,3.74,2022-05-30 23:33:25,broken clouds
672,672,Dromolaxia,CY,34.8761,33.5860,78.73,56,0,3.44,2022-05-30 23:33:25,clear sky
677,677,Trat,TH,12.5000,102.5000,83.88,89,98,2.33,2022-05-30 23:33:27,overcast clouds

In [7]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.count()

City_ID                226
City                   226
Country                226
Lat                    226
Lng                    226
Max Temp               226
Humidity               226
Cloudiness             226
Wind Speed             226
Date                   226
Current Description    226
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                226
City                   226
Country                226
Lat                    226
Lng                    226
Max Temp               226
Humidity               226
Cloudiness             226
Wind Speed             226
Date                   226
Current Description    226
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jamestown,US,82.04,clear sky,42.0970,-79.2353,
3,Monrovia,LR,80.15,broken clouds,6.3005,-10.7969,
10,Bella Vista,US,84.72,overcast clouds,36.4295,-94.2316,
16,Hilo,US,88.29,clear sky,19.7297,-155.0900,
21,Albany,US,84.63,broken clouds,42.6001,-73.9662,
26,Grants,US,75.43,scattered clouds,35.1473,-107.8514,
27,Porto Novo,BJ,84.02,broken clouds,6.4965,2.6036,
29,Kerema,PG,80.31,overcast clouds,-7.9631,145.7785,
33,Kavieng,PG,84.06,overcast clouds,-2.5744,150.7967,
40,Cairns,AU,78.06,scattered clouds,-16.9167,145.7667,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
   # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df[hotel_df["Hotel Name"]!=""]
clean_hotel_df.count()

City                   215
Country                215
Max Temp               215
Current Description    215
Lat                    215
Lng                    215
Hotel Name             215
dtype: int64

In [22]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jamestown,US,82.04,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,Monrovia,LR,80.15,broken clouds,6.3005,-10.7969,Sunset Inn
10,Bella Vista,US,84.72,overcast clouds,36.4295,-94.2316,The Inn at Bella Vista
16,Hilo,US,88.29,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
26,Grants,US,75.43,scattered clouds,35.1473,-107.8514,"Motel 6 Grants, NM"
27,Porto Novo,BJ,84.02,broken clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
29,Kerema,PG,80.31,overcast clouds,-7.9631,145.7785,Frena Lodge
33,Kavieng,PG,84.06,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
40,Cairns,AU,78.06,scattered clouds,-16.9167,145.7667,Mantra Trilogy Cairns
44,Butaritari,KI,81.64,scattered clouds,3.0707,172.7902,Isles Sunset Lodge

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))